*{
    margin: 0;
    padding: 0;
}

body {
    background-color:#DEDEDE;
}

.main-content {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin: 50px;
}

.main-content button {
    background-color: #00ADB5 ;
}

.main-content button:hover {
    background-color: #23868b ;
}

.title {
    margin-bottom: 50px;
}



.mb-3 {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.section-pedido {
    width: 30%;
}

.form {
    margin-top: 50px;
    width: 30%;
}